body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


header{
  width: 97%;
  height: 150px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: fixed; */
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 5px 10px #004aad;
}

header ul li a {
  color: black;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

li {
  list-style: none;
}

.imagen {
  width: 200px;
  height: 150px;
}

header ul {
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li {
  padding: 0 1rem;
}

header ul li a {
  font-weight: bold;
}

header .cart {
  position: relative;
  cursor: pointer;
} header .cart box-icon {
  width: 45px;
  height: 45px;
}

header .cart span {
  position: absolute;
  top: -1rem;
  right: -.3rem;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: white;
  padding: 0rem;
  font-size: 1.rem;
  justify-content: center;
  font-weight: bold;
  background-color: red;
}

.abajo {
  top: 100px
}

.pa-abajo {
  margin-top: 60px;
}

.cart-form {
  width: 75vw;
  margin-top: 25px;
}

.cart-form__title{
  font-size: 2rem;
  font-weight: 500;
}

.cart-form__title, .cart-form__separator, .cart-form__text {

  margin-top: 15px;
}

.cart-form__separator{
  width: 70vw;
}
.cart-form__text{
  font-size: 1.2rem;
  font-weight: 500;
}

.cart-form-card {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em;
  padding: 1.2em;
  align-items: center;
}
.cart-form-card > label  {
  grid-column: labels;
  grid-row: auto;
}

.cart-form-card > input {
  width: 500px;
}
.cart-form-card > input,
.cart-form-card > button {
  grid-column: controls;
  padding: 1em;
}

.cart-form-card > button {
  margin-top: 10px;
  margin-left: 150px;
  border: none;
}

.cart-form-card__submit {
  color: white;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  border-radius: 30px;
  padding: 16px 18px;
  background: #5494f3;
}


.cart-form-card__submit:hover {
  transition: 0.5s;
  color: #000000;
}

.cart-container{
  height: calc(100vh - 75px);
  display: flex;
  align-items:center;
}

.cart__empty {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__empty-order{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 50vw;
  height: 200px;
  min-width: fit-content;
}
.cart__empty-order__title {
  margin-bottom: 15px;
}

.cart__empty-order__id{
  margin-bottom: 50px;
}

.cart__empty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.cart__empty-subtitle{
  font-size: 2rem;
  color: gray;
  margin-bottom: 15px;
}

.cart__empty-button{
  background: #5494f3;
  padding: 12px 14px;
  border-radius: 30px;
  margin-top: 20px;
}

.cart__empty-link {
  color: white;
  text-decoration: none;
}

.cart__empty-arrow{
  font-size: 1.5rem;
}

.cart__empty-back {
  margin-left: 20px;
}

.cart__empty-link:hover{
  color: #21232a;
  transition: 0.7s;
}